# Dependências
node_modules/
npm-debug.log
yarn-error.log

# Ambiente e Chaves Privadas
.env
.env.local
.env.production
.DS_Store

# Banco de Dados Local e Uploads
database.sqlite
uploads/*
!uploads/.gitkeep

# Logs e Cobertura
logs/
*.log
coverage/
.nyc_output/
schema.sql

# IDE e Sistema Operacional
.DS_Store
Thumbs.db
.vscode/
.idea/
